html, body{
    height: 100%;
}
body
{
    margin: 0;
    box-sizing: border-box;
    background-color: #edeef0;
    font-size: 16px;
}

footer
{
    line-height: 25px;
    background-color: white;
    color: #808fb3;
    text-align: center;
}
.wrapper
{
    height: 100%;
	display: flex;
	flex-direction: column;       
}

/*Классы для заголовка*/
header
{
    background-color:#507299;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}
.header_container
{
    display: flex;
    padding: 5px 0 5px 0;
    width: 75%;
    margin: 0 auto;
}

/*Кдассы для содержимого*/
.container
{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    flex:  1 1 auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.menu
{
    justify-self:right;
    box-sizing: border-box;
    width: 200px;
    flex-shrink: 0;
    color: #507299;
    padding: 30px;
}
.menu p
{
    margin-top: 0;
}
.menu p:hover
{
    background-color: #d0d0d0 ;
}

.content{
    padding: 0 0px;
}
.content_item
{
    width: 460px;
    background-color: white;
    border: 2px solid #d0d0d0;
    border-radius: 15px;
    margin-bottom: 30px;
}
.content_text
{
    padding:20px 30px 0 30px;
}
.content_text::selection
{
    background-color: #d0d0d0;
    color: green;
}
.content_text img
{
    width: 100%;
    height: auto;
}
.bottom_item
{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    border-top: solid 1px #d0d0d0;
    color: #507299;
}

/*Классы для боковой информации*/
.mini__info
{
    position: fixed;
    right: calc(15% - 120px);
    top:  55px;
    
}
.mini_info_item
{
    width: 120px;
    min-height: 150px;
    background-color: white;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 15px 7px 15px 7px;
}
.mini_info_item:first-child
{
    margin-top: 10px;
}
.mini_info_item p
{
    background-color:#edeef0;
}
.mini_info_item h3
{
    margin: 0;
}



@media  (max-width: 1023px)  {
    .mini__info
    {
        display: none;
    }
}

@media  (max-width: 700px)  {
   
    .container
    {
        width: 100%;
        padding: 0 10px;
        display: block;
    }
    .menu
    {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        
    }
    .menu p
    {
        margin: 10px 10px;

        
    }
    .content_item
    {
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media  (max-width: 480px) 
{
    .content_item
    {
        width: 250px;
    }
    .menu
    {
        width: 90%;
    }
}